<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pytalk</title>
    <link rel="icon" type="image/jpeg" href="{{url_for('static',filename="icon/messager.png")}}"">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <script 
    src="https://cdn.socket.io/4.0.1/socket.io.min.js"
    intergrity ="SHA256:JrDX2ORHgre2By5n9yu9jU9w3N1nDrczKKu+wkC3Mcs",
    crossorigin="anonymous">
    </script>

    <div class="content">{% block content%} {% endblock %}</div>
</body>
</html>